.thumbnail {
    width: 270px;
    height: 349px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid #F6F7F8;
    border-radius: 4px;
    position: relative;
}

.mac:hover{
    filter: opacity(10%);
}

hr {
    width: 100%;
}

p {
    text-align: center;
}

.iconshide {
    display: none;
}

.iconshow {
    position: absolute;
    left: 30%;
    top: 20%;
}
